# Ignorar el archivo .env
.env

# Ignorar todo el contenido de la carpeta public
public/*

# Exceptuar la carpeta public misma
!public/

# Permitir que se suba un archivo vacío para asegurar que la carpeta exista en el repositorio
!public/.gitkeep

# Ignorar todo el contenido de la carpeta temp dentro de public
public/temp/*

# Exceptuar la carpeta temp misma
!public/temp/

# Permitir que se suba un archivo vacío dentro de temp para asegurar que la carpeta exista en el repositorio
!public/temp/.gitkeep

# Ignorar la carpeta node_modules
node_modules/
