# Ignorar el archivo .env
.env
# Ignorar todo el contenido de la carpeta public
public/*

# Exceptuar la carpeta public misma
!public/

# Permitir que se suba un archivo vacío para asegurar que la carpeta exista en el repositorio
!public/.gitkeep

# Ignorar la carpeta node_modules
node_modules/
